    {% extends "FnsCnslt/wrapper.html" %}
    {% block content %}
    <form method="POST">
        {% csrf_token %}

        <div class="container-fluid text-left">
            {% for field in form %}
            <div class="form-group ">
                {{field.label_tag}}<br>
                {{field}}
            <div class="error">{{field.errors}}</div>
            </div>
            {% endfor %}
            
        <br><button type="submit" class="btn btn-info btn-lg">Отправить</button>
            </div>
    </form>
    {% endblock %}